/.metadata/
/.jxbrowser.userdata/
/RemoteSystemsTempFiles/
/dvt/
EELE465.04_Slave_LEDBar/.cproject
EELE465.6/.launches/EELE465.6.launch
EELE465.6/.settings/org.eclipse.core.resources.prefs
ELLE465.04_Master_Keypad/.settings/org.eclipse.core.resources.prefs
ELLE465.04_Master_Keypad/Debug/ELLE465.04_Master_Keypad.map
ELLE465.04_Master_Keypad/Debug/ELLE465.04_Master_Keypad.out
ELLE465.04_Master_Keypad/Debug/ELLE465.04_Master_Keypad_linkInfo.xml
ELLE465.04_Master_Keypad/Debug/master_keypad_main.obj
ELLE465.04_Master_Keypad/Debug/objects.mk
